#fixedfilter {
    padding-top : 45px;
}
#fixedfilter form {
    position : fixed;
    top      : 35px;
    left     : 0px;
    width    : 100%;
    z-index  : 1;
}​


#haus  {
    padding-top : 45px;
    position : fixed;
    top      : 0px;
    width    : 100%;
    z-index  : 1;
}​