
.ui-page { -webkit-backface-visibility: hidden; }
.ui-btn-active {
 background-image: none !important;
 background: none !important;
 border: none !important;
}

#map, #map-canvas { width: 100%; height: 100%; padding: 0; }

.listOpt li {
    display: block;
    position: relative;
    overflow: visible;
    text-align: -webkit-match-parent;
    margin-left: -2em;

}
.listOpt {
    list-style-type: none;
    margin-top: 1em;


}
.listOpt li a:visited {
    background: #f6f6f6;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;

}
.listOpt li a {
    border-width: 1px 0 0;
    border-style: solid;
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
}